.noltflix-footer {
  align-items: center;
  background-color: $charcoal-grey;
  color: $white;
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;

  &__copy {
    color: $white;
    font-size: 14px;
    font-weight: 300;
    height: 19px;
    opacity: 0.5;
    text-align: center;
  }
}
