.noltflix__card {
  background-color: $charcoal-grey;
  box-shadow: 0 2px 8px 0 $black-25;
  height: 274px;
  margin: 15px 0 30px;
  width: 275px;

  &-image {
    width: 100%;
  }

  &-title {
    color: $white !important;
    font-size: 18px;
    font-weight: 400;
    height: 25px;
    margin: 0 0 9px;
  }

  &-category {
    align-items: center;
    color: $white;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    height: 19px;
    justify-content: space-between;
    margin-bottom: 14px !important;
    opacity: 0.5;
  }

  &-body {
    padding: 12px 15px 0;
  }

  &-extra-info {
    align-items: center;
    background-color: $charcoal-grey-three;
    color: $white;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 15px;

    &-text {
      opacity: 0.75;
    }
  }

  &-rate {
    display: flex;
  }

  .uk-card-media-top {
    height: 155px;
    overflow: hidden;
  }

  @media screen and (max-width: 767px) {
    height: auto;
    margin: 0 0 20px;
    width: 100vw;

    &-image {
      height: auto;
    }

    &-title {
      font-size: 24px;
      height: 33px;
      margin-bottom: 10px;
    }

    &-body {
      padding: 15px 25px 0;
    }

    &-category {
      font-size: 18px;
      height: 25px;
      margin-bottom: 15px !important;
    }

    &-extra-info {
      height: 50px;
      padding: 0 25px;

      &-text {
        font-size: 18px;
        height: 25px;
      }
    }

    &-rate {
      .noltflix__star {
        height: 16.9px;
        margin-left: 9.8px;
        width: 17.8px;
      }
    }

    .uk-card-media-top {
      height: 211px;
    }
  }
}
