.noltflix-movie-show {
  background: {
    repeat: no-repeat;
    size: cover;
  }
  display: flex;
  height: 100%;

  &__info {
    background-color: $dark-grey;
    opacity: 0.95;
    padding: 0 61px 50px 102px;
    width: 590px;

    &-head,
    &-release {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }

    &-head {
      position: relative;

      .noltflix__back {
        bottom: 10px;
        left: -62px;
        position: absolute;
      }
    }

    &-release {
      border-bottom: 1px solid $white-25;
      color: white;
      height: 25px;
      margin-top: 18px;
      opacity: 0.75;
      padding-bottom: 15px;
    }

    &-rate {
      display: flex;
      margin: 25px 0 35px;

      .noltflix__star {
        height: 28.2px;
        margin: 0 16.3px 0 0;
        width: 29.7px;
      }
    }
  }

  .noltflix__btn {
    margin: 30px;
  }

  @media screen and (max-width: 1280px) {
    &__info {
      width: 490px;
    }
  }

  @media screen and (max-width: 991px) {
    &__info {
      width: 490px;
    }
  }

  @media screen and (max-width: 767px) {
    background-size: contain;
    flex-direction: column-reverse;

    &__info {
      opacity: 1;
      padding: 0 25px 50px;
      width: auto;

      &-head {
        position: relative;

        .noltflix__back {
          left: 0;
          top: -195px;
        }

        .noltflix__heart {
          position: absolute;
          right: 0;
          top: -199px;
        }
      }

      &-release {
        flex-direction: column;
        height: auto;
        margin-top: 10px;

        span {
          &:first-child {
            margin-bottom: 10px;
          }

          &:last-child {
            margin-bottom: 5px;
          }
        }
      }

      &-rate {
        margin: 20px 0 25.8px;
      }

      .noltflix__inner-title,
      .noltflix__paragraph {
        margin-left: 4px;
        margin-right: 4px;
      }
    }

    .noltflix__btn {
      margin: 147px 0 20px 25px;
    }
  }
}
