@import "node_modules/uikit/src/scss/variables.scss";
@import "node_modules/uikit/src/scss/mixins.scss";
@import "node_modules/uikit/src/scss/uikit.scss";

/* Colors */
$black-25: rgba(0, 0, 0, 0.25);
$black-35: rgba(0, 0, 0, 0.35);
$charcoal-grey: #32363c;
$charcoal-grey-two: #373e4a;
$charcoal-grey-three: #282b31;
$charcoal-grey-four: rgba(27, 29, 31, 0.75);
$dark-grey: #1b1d1f;
$deep-red: #a30000;
$red: #d00000;
$sunflower-yellow: #ffcd00;
$strong-red: #bb0d17;
$white-25: rgba(255, 255, 255, 0.25);
$white: #ffffff;

/* Components */
@import './app/main/main';
@import './app/header/header';
@import './app/footer/footer';
@import './app/favorites/favorites';
@import './app/card/card';
@import './app/movie-show/movie-show';
@import './app/search/search';
