.noltflix-favorites {
  margin-bottom: 70px;
  padding: 0 103px 0 102px;

  &__selections {
    display: flex;
    flex-wrap: wrap;

    noltflix-card {
      cursor: pointer;
      margin: 0 45px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
