.noltflix-favorites {
  margin-bottom: 70px;
  padding: 0 103px 0 102px;

  &__selections {
    display: flex;
    flex-wrap: wrap;

    noltflix-card {
      cursor: pointer;
      margin: 0 45px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    padding: 0;

    &__selections {
      padding-bottom: 5px;

      noltflix-card {
        margin: 0;
      }
    }

    .noltflix__title,
    .noltflix__sub-title {
      padding: 0 25px;
    }

    .noltflix__title {
      font-size: 24px;
      height: 33px;
    }

    .noltflix__sub-title {
      font-size: 12px;
      height: 16px;
      margin: 15px 0 20px;
    }
  }
}
